export(shift8)
export(shift8_lucky_stars)
export(shift8_report)
export(plot_shift8)
export(as_modelsummary)
export(validate_shift8)
S3method(as_tibble,shift8_table)
S3method(as_modelsummary,shift8_table)
S3method(print,shift8_table)
S3method(print,shift8_lm)
S3method(print,shift8_report)
S3method(plot_shift8,shift8_table)
S3method(plot_shift8,shift8_lm)
S3method(shift8_report,shift8_table)
S3method(shift8_report,shift8_lm)
S3method(validate_shift8,shift8_table)
S3method(validate_shift8,shift8_lm)
importFrom(tibble,as_tibble)
